body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.square-container {
    width: 640px;
    height: 640px;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.square-container > .row {
    background-color: greenyellow;
    flex: 1;
    display: flex;
}

.row > .square {
    border: 1px solid black;
    flex: 1;
}