body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.reset-button {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 53px;
    border: 1px solid #3882F6;
    font-size: 15px;
}

.button-hovering {
    transform: scale(1.2);
    border-color: blue;
}

.square-container {
    width: 640px;
    height: 640px;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.square-container > .row {
    background-color: greenyellow;
    flex: 1;
    display: flex;
}

.row > .square {
    border: 1px solid black;
    flex: 1;
}